html, * {
  font-family: 'Ubuntu', sans-serif !important;
}

/* style variables */
$primary-color: #2A5DB7;
$secondary-color: #B3D84D;
$textlight-color: #ffffff;

/* overwritten by material ui, reason for important tags */
body {
  margin: 0;
  font-size: small !important;
  color: #777777 !important;
  line-height: 175% !important;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 300;
  font-style: normal;
  background-color: #f6f6f6 !important;
}

.logoContent {
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  .logo {
    height: 15%;
    width: 15%;
  }

  h1 {
    color: #ffffff;
    font-size: medium;
    margin-right: 0;
    font-weight: 100;
  }
}

h2 {
  font-size: large !important;
  font-weight: 400 !important;
}

.MuiListItemIcon-root {
  justify-content: center;
}

.MuiListItem-gutters {
  justify-content: center;
  padding-left: 8px !important;
}
.MuiListItemIcon-root {
  margin-right: 24px !important;
  height: 4em;
  align-items: center;
}
.MuiListItem-root {
  justify-content: center;
}

.MuiAppBar-colorPrimary {
  /*background-color: #3b62ae !important;*/
  background-color: #{$primary-color} !important;
}

.MuiSvgIcon-root.white {
  fill: #{$textlight-color} !important;
}

.MuiSvgIcon-root {
  fill: #{$primary-color} !important;
}

.makeStyles-root-1 {
  padding: 0 !important;
  margin-left: 12px;
}

.makeStyles-content-11 {
  padding: 0 12px 0 0;
}

.MuiButton-containedSecondary {
  background-color: #{$primary-color} !important;
  color: #{$textlight-color} !important;
}

a:-webkit-any-link {
  color: #{$primary-color} !important;
  text-decoration: none !important;
}

.MuiTypography-body1, .MuiTypography-body2 {
  font-family: 'Ubuntu', sans-serif !important;
  color: #888888;
}

.MuiStepIcon-root {
  font-size: large !important;
}

.templateIcon {
  font-size: large !important;
  height: 85px;
}

.downloadButton {
  margin: 0;
  padding: 0;
}

.downloadButton:hover {

}

.MuiStepIcon-completed {
  fill: #{$primary-color} !important;
  color: #{$secondary-color} !important;
}

.step-desc {
  margin-top: 40px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.confirmButton {
  background-color: #{$primary-color} !important;
  color: #{$textlight-color} !important;
}



.warning-bg {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fffff0;
  padding: 14px;
  font-size: medium;
  color: #8b4513;
  border-radius: 4px;

  .warning-icon {
    fill: #cd5c5c !important;
    color: #{$textlight-color} !important;
    height: 80px;
    font-size: large;
  }
}

.download-icon {
  fill: #{$primary-color} !important;
  color: #ffffff !important;
  height: 80px;
  font-size: large;
}

.dropzone:hover {
  border: dashed 2px #{$primary-color}2;
  border-radius: 2px;
}

.MuiPaper-rounded {
  border-radius: 8px !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #423f54;
  font-weight: 400;
}

h1 {
  font-size: large;
  margin-bottom: 24px;
  font-weight: 600;
  color: #{$primary-color}
}

.custom-menu {
  .MuiListItemText-root {
    margin-left: -20px;
    padding-right: 20px;
  }
}

.app-menu {
  .MuiListItemText-root {
    margin-left: 20px;
    padding-right: 20px;
  }
}

.MuiTypography-h5 {
  font-size: medium !important;
  font-weight: 600 !important;
}

.MuiButton-containedPrimary {
  background-color: #{$primary-color} !important;
  color: #{$textlight-color} !important;
}

.MuiBadge-colorPrimary {
  background-color: #{$secondary-color} !important;
}

.MuiButton-containedSecondary, .MuiBadge-colorSecondary  {
  background-color: #{$secondary-color} !important;
  color: #{$textlight-color} !important;
}

.appTitle {
  font-size: 20px !important;
  font-weight: 100;
  color: #{$textlight-color};
  .heavy {
    font-weight: 900;
    color: #{$secondary-color};
  }
}

.MuiDivider-root {
  height: 1px !important;
}

.PrivateTabIndicator-colorPrimary-358, .PrivateTabIndicator-colorPrimary-495, .PrivateTabIndicator-colorPrimary-390, .PrivateTabIndicator-colorPrimary-884 {
  background-color: #{$secondary-color} !important;
}

.MuiFab-primary {
  background-color: #{$secondary-color} !important;
}

.copyright {
  flex: 1;
  margin: 10px auto 0 auto;
  position: center;
  font-size: x-small;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  bottom: 6px;
  width: 100%;
  color: #bdbdbd;
}

hr {
  border: #eeeeee 1px solid;
}

.editBar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 2px #cccccc;
  width: 100%;
  &:hover {
    border: solid 2px #{$secondary-color};
    cursor: pointer;
  }
}

.addBlock {
  flex: 1;
  display: flex;
  width: 80vw;
  margin: 20px 0 0 20px;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  cursor: pointer;
  color: #bdbdbd;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 4px;
  border: solid 1px #cccccc;

  &:hover {
    border: solid 1px ;
  }

}

@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 100% !important;
  }
}

.MuiFormControlLabel-label {
  font-weight: 600 !important;
  margin-top: 30px;
}

.options-desc {
  margin-left: 32px;
}

.MuiTab-wrapper {
  color: #{$textlight-color} !important;
}

h2
{
  font-size: large !important;
}

h3, h4, h5, h6
{
  font-size: medium !important;
  font-weight: 400 !important;
}

.MuiTabs-root, .MuiTab-wrapper {
  background-color: #60677C !important;
}

.MuiTab-root .Mui-selected {
  color: #{$secondary-color} !important;
}

.MuiPaper-root {
  color: #777777 !important;
}

.MuiButton-label {
  color: #{$textlight-color};
}

.MuiSnackbarContent-root {
  background-color: #{$secondary-color} !important;
}

.MuiSnackbarContent-message {
  color: #{$textlight-color} !important;
  font-size: large;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.bottom-spacer-30 {
  padding-bottom: 30px;
}